<div class='container'>

  <div id='topbar'>
    <h1>Matt's Bloc Chat</h1>
  </div>

  <div id='sidebar-title'>
    <h3>Rooms</h3>
  </div>
  <div id='sidebar'>
    <ul>
      <li ng-repeat='rooms in $ctrl.room.all track by $index' ng-click='$ctrl.chooseChat(rooms["$id"],rooms["$value"])'> {{ rooms['$value'] }} </li>
    </ul>
  </div>

  <div id='add-btn'>
    <button type='button' class='btn' ng-click='$ctrl.openComponentModal()'>Add a room</button>
  </div>

  <div id='chat-title'>
    <h2>{{ activeChatTitle }}</h2>
  </div>

  <div id='chatlog'>

    <div ng-repeat="message in messages" class='message' ng-class-odd='"odd"' ng-class-even='"even"'>
      <div class='msg-details'>
        <span class='name'>{{ message.username }}</span>
        <span class='time'>{{ message.sentAt }}</span>
      </div>
      <div class='text'>{{ message.content }}</div>
    </div>

  </div>

  <div id='msg-input'>
    <input class='input' type='text' name='message'  ng-model='$ctrl.inputMessage' placeholder='Enter your message'>
  </div>

  <div id='submit-btn'>
    <button type='button' class='btn' ng-click='$ctrl.sendMessage()'>Submit</button>
  </div>

</div>
